@use "../colors";

.input {
    padding: 0.6875em 2em 0.6875em 0.5em;
    font-size: 0.875em;
    display: inline-block;
    border: 1px solid colors.$light-gray;
    width: 100%;
    padding: 1em 0em 1em 0.5em;
    background: colors.$white;
    line-height: 20px;

    &--large {
        padding: 1.5em 0em 1.5em 0.5em;
    }

    &--small {
        padding: 0.5em 0em 0.5em 0.5em;
    }

    &--error {
        border-color: colors.$error;
    }

    &--rounded {
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 10%) 0 0 0 1px inset;
    }
}
