$white: #ffffff;
$snow-white: #fafafa;
$light-gray: #eeeeee;
$btn-primary: #1ea7fd;
$success: #28a745;
$error: #dc3644;
$warning: #ffc107;
$info: #0dcaf0;
$btn-dark: #212529;
$btn-light: #f8f9fa;
$btn-link: #0d6efd;
